@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

div.loginBox {
    margin: auto;
    background-color: white;
    width: 60%;
    height: 300px;
    border-radius: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.377);
}

form {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

div.titulo {
    text-align: center;
}

div.titulo h2 {
    border: 2px solid #218A3A;
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 10px;
}

div.titulo p {
    margin-top: 10px;
}

div.inputs {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 80%;
}

div.inputs input {
    height: 35px;
    border-radius: 5px;
    padding-left: 8px;
    border: 1px solid rgba(128, 128, 128, 0.61);
    margin-bottom: 2px;
}

div.inputs button {
    margin-top: 10px;
    height: 35px;
    border-radius: 5px;
    border: none;
    background-color: #218A3A;
    color: white;
    font-weight: bold;
}

div.inputs label {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}