@charset "UTF-8";

body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
        }
        .container {
            width: 300px;
            margin: 0px auto;
            background: #fff;
            padding: 0px;
            border-radius: 10px;
            box-shadow: 0 0 10px #ccc;
        }
        h2 {
            text-align: center;
        }
        input {
            width: 280px;
            padding: 8px;
            margin: 8px 0;
            border-radius: 5px;
            box-shadow: 0 0 5px #bebebe;
        }
        
        button {
            width: 100%;
            margin-top: 10px;
            padding: 10px;
            background: #28a745;
            color: white;
            border: none;
            cursor: pointer;
        }
        button:hover {
            background: #218838;
        }
