@charset "UTF-8";

body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
        }
        .container {
            width: 300px;
            margin: 0px auto;
            background: #fff;
            padding: 0px;
            border-radius: 10px;
            box-shadow: 0 0 10px #ccc;
        }
        h2 {
            text-align: center;
        }
        input {
            width: 280px;
            padding: 8px;
            margin: 8px 0;
            border-radius: 5px;
            box-shadow: 0 0 5px #bebebe;
        }
        
        button {
            width: 100%;
            margin-top: 10px;
            padding: 10px;
            background: #28a745;
            color: white;
            border: none;
            cursor: pointer;
        }
        button:hover {
            background: #218838;
        }

body.dark-mode {
    background-color: #0f172a;
    color: white;
}
body.dark-mode .container {
    background-color: #1e293b;
    box-shadow: 0 0 10px #000;
}
body.dark-mode input {
    background-color: #334155;
    color: white;
    border: 1px solid #64748b;
}
body.dark-mode input::placeholder {
    color: #cbd5e1;
}
body.dark-mode label,
body.dark-mode h2 {
    color: white;
}
#modoEscuro {
    width: auto;
    margin-top: 0;
    padding: 0;
    background: none;
    border: none;
    box-shadow: none;
}